@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #040607;
  --foreground: #ebe9fc;
  --border: #364153;
  --secondary: #2e7191;
  --accent: #7ab4d1;
  --foreground2: #99a1af;
  --background2: #111820;

  background-color: var(--background);
}

.markdown-body katex-display {
  margin-top: 5px;
}

.markdown-body .katex-html {
    font-size: 1.5rem;
}